.imageContainer {
    width: 100%;
    height: 600px;
    /* background:url('../assets/image/inspection_bg.png'); */
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

.imageContainer:before {
    content: "";
    background: #12043f;
    width: 100%;
    opacity: .5;
    transition: .5s ease;
}


.productsTitles {
    position: absolute;
    bottom: 140px;
    left: 200px;
    font-size: large;
    color: white;
    font-weight: 800;
    font-size: min(3vw, 36px);
}

.fullName {
    font-size: min(1.3vw, 15.6px);
    padding-bottom: 15px;
    text-transform: uppercase;
}

.headerLogo {
    height: 6vw;
    max-height: 80px;
    padding-bottom: 15px;
}

.icon1 {
    padding-left: 20px;
    position: absolute;
    bottom: 3px;
}

.icon2 {
    padding-left: 70px;
    position: absolute;
    bottom: 3px;
}

.headerItems {
    /* align-items: center; */
    display: inline-block;
}

.subTitle {
    padding-left: 50px;
    font-size: 40px;
    font-weight: 700;
}

.contents {
    font-size: 17px;
    padding-left: 50px;
    word-spacing: 2px;
    line-height: 1.8;
    padding-bottom: 50px;
}

.contentImage{
    width: 90%;
    max-width: 600px;
    padding-bottom: 50px;
}

.subSubTitle{
    font-weight: 900;
    padding-bottom: 25px;
}

@media screen and (max-width:899px) {
    .productsTitles {
        position: absolute;
        bottom: 30%;
        left: 35%;
        font-size: large;
        color: white;
        font-weight: 800;
        font-size: 30px;
    }
    
    .fullName {
        font-size: 15.6px;
        padding-bottom: 15px;
    }
    
    .headerLogo {
        height: 30px;
        padding-bottom: 15px;
    }
    
    .btn {
        background-color: #F1A039;
        color: white;
        font-size: 13px;
        font-weight: 700;
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
}
