.imageContainer {
    width: 100vw;
    height: 600px;
    /* background:url('../assets/image/inspection_bg.png'); */
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    z-index: -1;
}

.imageContainer:before {
    content: "";
    background: #12043f;
    width: 100%;
    opacity: .5;
    transition: .5s ease;
}

.productsTitles {
    /* position: absolute;
    bottom: 140px;
    left: 200px; */
    font-size: large;
    color: white;
    font-weight: 800;
    /* font-size: min(3vw, 36px); */
    width: 450px;
}

.fullName {
    font-size: 1rem;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.shortName {
    padding-bottom: 20px;
    font-size: 35px;
}

.headerLogo {
    height: 3.2rem;
    padding-bottom: 15px;
}

.icon1 {
    padding-left: 20px;
    position: absolute;
    bottom: 3px;
}

.icon2 {
    padding-left: 70px;
    position: absolute;
    bottom: 3px;
}



.products-icons {
    /* position: absolute;
    padding-left: 200px;
    bottom: 3px; */
    padding-top: 2.5px;
    font-size: 2.3rem;
}

.headerItems {
    /* align-items: center; */
    display: inline-block;
}

.textContainer {
    margin: 200px 0vw 30px;

}

.titleDot {
    font-size: 50px
}

.subTitle {
    /* padding-left: 50px; */
    font-size: 2.5rem;
    font-weight: 700;
}

.contents {
    font-size: 1rem;
    /* padding-left: 50px; */
    word-spacing: 2px;
    line-height: 1.8;
    padding-bottom: 50px;
}

.contentImage {
    width: 90%;
    max-width: 600px;
    padding-bottom: 50px;
}

.subSubTitle {
    font-weight: 900;
    padding-bottom: 25px;
}

.tableSubTitle {
    font-weight: 700;
    padding-bottom: 40px;
    font-size: 20px;
}

.tableHeader {
    font-weight: 900;
    border: none;
    font-size: 16px;
}

@media screen and (max-width:899px) {
    .productsTitles {
        /* position: absolute;
        bottom: 20%;
        left: 4%; */
        margin: 0 auto;
        font-size: large;
        color: white;
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .headerItems {
        /* align-items: center; */
        display: block;
    }

    .fullName {
        font-size: 0.85rem;
        padding-bottom: 15px;
    }

    .shortName {
        padding-bottom: 10px;
        font-size: 1.7rem;
    }

    .headerLogo {
        height: 2.5rem;
        padding-bottom: 15px;
    }

    .icon1 {
        /* padding-left: 4px;
        padding-bottom: -100px; */
        /* padding-top: 4vh;
        position: relative;
        bottom: 0px;
        color: white;
        display: block;
        left: 50px; */
    }

    .icon2 {
        /* padding-left: 20px;
        padding-top: 50px; */
        /* position: relative;
        bottom: 31px;
        color: white; */
        
        /* display: inline-block; */
    }

    .products-icons {
        /* position: relative; */
        /* padding-left: 200px; */
        /* bottom: -40px;
        right: 20vw; */
        /* display: grid;
        justify-content: center; */
    }

    .textContainer {
        padding: 30px 0 15px;
    }

    .titleDot {
        font-size: 2.5rem
    }

    .subTitle {
        font-size: 2rem;
        padding-bottom: 15px;
    }

    .contents {
        font-size: 1rem;
        word-spacing: 1.5px;
        line-height: 1.3;
        padding-bottom: 5px;
    }

    .tableSubTitle {
        font-weight: 700;
        padding-bottom: 20px;
        /* font-size: 4vw; */
        font-size: 1.2rem;
    }

    .tableHeader {
        font-weight: 900;
        border: none;
        font-size: 1rem;
    }
}